<!DOCTYPE HTML>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-type">
    
    <title>Drag &amp; Drop Mail to Plain Converter (mailtopla.in)</title>
    
    <link rel="shortcut icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen">
  </head>
  
  <body>
    <h1>Mail to Plain Converter</h1>

    <div id="drop_target"></div>

    <textarea id="result"></textarea>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.dnduploader.js" type="text/javascript"></script>

    <script type="text/javascript">
      $("#drop_target").dndUploader({
        url : "/",
        method : "PUT", 
        handler: function(xhr) {
          if(this.readyState == 4 && this.status == 200) {
            console.log(this.responseText);
            $('#result').val(this.response);
          } if(this.readyState == 3) {
            console.log('uploading ..');
          }
        }
      });
    </script>
  </body>
</html>
